@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserLayout";
}

    <main>

        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 slider-bg2 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center ">
                        <div class="col-xxl-12">

                            <div class="hero-caption hero-caption2">
                                <h2>Location</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="map-area">
            <div id="contact-map" class="contact-map"></div>
        </div>

        <section class="home-blog section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img blog-img2">
                                <a href="#"><img src="~/img/gallery/blog1.jpg" alt></a>
                            </div>
                            <div class="blogs-cap">
                                <h5><a href="#">WHEN CORNERS COLLIDE: DECODING THE CONTRASTING AESTHETICS</a></h5>
                                <p>- Justin Case</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img blog-img2">
                                <a href="#"><img src="~/img/gallery/blog2.jpg" alt></a>
                            </div>
                            <div class="blogs-cap">
                                <h5><a href="#">WHEN CORNERS COLLIDE: DECODING THE CONTRASTING AESTHETICS</a></h5>
                                <p>- Justin Case</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img blog-img2">
                                <a href="#"><img src="~/img/gallery/blog3.jpg" alt></a>
                            </div>
                            <div class="blogs-cap">
                                <h5><a href="#">WHEN CORNERS COLLIDE: DECODING THE CONTRASTING AESTHETICS</a></h5>
                                <p>- Justin Case</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="brand-area">
            <div class="container">
                <div class="row wrapper-brand justify-content-center ">
                    <div class="col-xl-5 col-lg-6 col-md-6">

                        <div class="section-tittle text-center  mb-30">
                            <h2>Schedule</h2>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="brand-active  pt-50 pb-40">
                            <div class="single-brand">
                                <img src="~/img/gallery/brand1.png" alt>
                            </div>
                            <div class="single-brand">
                                <img src="~/img/gallery/brand2.png" alt>
                            </div>
                            <div class="single-brand">
                                <img src="~/img/gallery/brand3.png" alt>
                            </div>
                            <div class="single-brand">
                                <img src="~/img/gallery/brand4.png" alt>
                            </div>
                            <div class="single-brand">
                                <img src="~/img/gallery/brand2.png" alt>
                            </div>
                            <div class="single-brand">
                                <img src="~/img/gallery/brand3.png" alt>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    