
@{
    ViewBag.Title = ViewData["SignUp"];
    Layout = "_UserLayout";
}
<body class="body-bg">
    <main>
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 slider-bg2 d-flex align-items-center">
                <div class="container">
                </div>
            </div>
        </div>
        <div class=" text-right" style="
    margin-top: -136px;
    position: relative;
    margin-left: 75px;
    margin-right: 75px;
">
            <div class="row">
                <div class="">
                    <div class="" style="color:#fff">
                        <div class="row">

                            <div class="" style="display: flex;justify-content: center;align-items: center;">

                                <form class="form-contact contact_form" style="width:95vh" action="/User/SignIn" method="post">
                                    <div class="" style="display: flex;justify-content: center;align-items: center;">

                                        <h2 class="contact-title" style="margin-bottom: 40px;font-size: xxx-large;">Sign Up</h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <select class="form-control valid" name="honorific" id="honorific">
                                                    <option value="Mr">Mr.</option>
                                                    <option value="Ms">Ms.</option>
                                                    <option value="Mx">Mx.</option>
                                                    <option value="Dr">Dr.</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid" name="firstName" id="firstName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter firstName'" placeholder="firstName">
                                            </div>
                                        </div>
                                        
                                      
                                        
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid" name="emailAddress" id="emailAddress" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter emailAddress'" placeholder="emailAddress">
                                            </div>
                                        </div>
                                         <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control valid" name="phoneNumber" id="phoneNumber" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter phoneNumber'" placeholder="phoneNumber">
                                                </div>
                                         </div>
                                         <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control valid" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" placeholder="password">
                                                </div>
                                         </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" placeholder="password">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="form-group mt-3" style="display: flex; justify-content: center;">
                                        <input type="submit" style="color:white !important" class="button button-contactForm btn_1">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </main>
</body>