
@{
    ViewBag.Title = ViewData["SignIn"];
    Layout = "_UserLayout";
}


<body class="body-bg">

    <main >
            <div class="slider-area">
                <div class="single-slider hero-overly slider-height2 slider-bg2 d-flex align-items-center">
                    <div class="container">
                      
                    </div>
                </div>
            </div>


        <div class=" text-right" style="
    margin-top: -136px;
    position: relative;
    margin-left: 75px;
    margin-right: 75px;
" >

                <div class="row">
                    <div class="col-md-9">
                        <div class="text-right" style="color:#fff">
                            <div class="row">
                            <div class="col-12">
                                <h2 class="contact-title">Sign In</h2>
                            </div>
                                <div class="col-lg-8">
                                    <form class="form-contact contact_form" action="/User/SignIn" method="post" >
                                        <div class="row">


                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <input class="form-control valid" name="username" id="username" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Username'" placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control valid" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" placeholder="Password">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group mt-3" style="display: flex; justify-content: center;">
                                            <input type="submit" style="color:white !important" class="button button-contactForm btn_1">
                                            <a type="submit" id="SignUpButton" href="/User/SignUp" style="color:white !important" class="button button-contactForm btn_1">Sign Up</a>
                                        </div>


                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                <div class="col-md-3" style="text-align: center;">
                    <img src="~/img/logo/logo-white.png" alt class="img-fluid">
                </div>

                </div>
            </div>


        

    </main>
</body>
